<h2 class="h2-view">
	Login
</h2>
<div class="loginform">
	<form novalidate id="frmLogin" name="frmLogin" >
		<p>
			<label>
				Username:
			</label>
			<input type="text" ng-model="frmLogin.username" name="frmLogin_username" placeholder="guest" value="" required="required" />
		</p>
		<p>
			<label>
				Password:
			</label>
			<input type="text" ng-model="frmLogin.password" name="frmLogin_password" placeholder="guest" value="" required="required" />
		</p>
		<div ng-if="frmLoginState == 'success'" class="alert alert-success" role="alert">Success</div>
		<div ng-if="frmLoginState == 'fail'" class="alert alert-warning" role="alert">Something went wrong. Try again later</div>
		<div ng-if="frmLoginState == 'sending'" class="alert alert-info" role="alert">...please wait </div>
		<p class="text-center">
			<input ng-if="frmLoginState == ''" type="submit" value="Send" ng-click="login()" ng-disabled="frmLogin.$invalid" />
		</p>
	</form>
</div>