<h2 class="h2-view">
	Recent Posts
</h2>
<div class="postlisting">
	<div ng-if="a_posts.length == 0 && s_access_token != '' ">
		<div class="alert alert-info" role="alert">...GETting, please wait. </div>
	</div>
	<div ng-if="s_access_token == ''">
		<div class="alert alert-info" role="alert">Kindly login first using username and password as guest and guest. </div>
	</div>
	<ul ng-if="a_posts.length > 0" >
		<li class="postlisting-item" ng-repeat="o_post in a_posts" >
			<div class="postlisting-entry">
				<div class="postlisting-entry-meta">
					<p>
						Posted On - {{o_post.created}}
					</p>
				</div>
				<div class="postlisting-entry-content">
					<div class="row">
						<div class="col-xs-1">
							<div class="postlisting-entry-content-id">
								<p>
									#{{o_post.id}}
								</p>
							</div>
						</div>
						<div class="col-xs-11">
							<div class="postlisting-entry-content-post">
								<p>
									{{o_post.content}}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>		
	</ul>
</div>